*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Creazione parte di Navigazione */
.container{
    background-color: #3161E0;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


.inline{
    align-items: center;
    display: inline-block;
    color: white;
    margin: 10px 0;
}

.nav-box{
    background-color: #3161E0;
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 10px auto;

}

.decoration-a{
    text-decoration: none;
    color: white;
    margin: auto 10px;

    
}

p{
    line-height: 30px;
}

.button-ab{
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 5px 10px; 
    text-decoration: none;
    font-size: small;
}

.button-a{
    background-color: white;
    color: black;
    border-radius: 25px;
    padding: 15px 10px; 
    text-decoration: none;
    
}

.button-b{
    background-color: black;
    color: white;
    border-radius: 25px;
    padding: 15px 10px; 
    text-decoration: none;
    margin-left: 30px;

}

/* Creazione primo contenitore */
.cont{
    padding: 100px 0;
}

.cont-a{
    background-image: url(./img/jumbo.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.news{
    width: 60%;
    margin: 20px 0;
    background-color: transparent;
    text-align: center;
    margin: 0 auto;
}

h1, h2, .news p{
   margin-bottom: 30px;
}

h1, h2{
    font-size: 50px;
}

h3{
    font-size: 30px;
    margin-bottom: 30px;
}

/* Parte Centrale */
.info{
    width: 80%;
    display: flex;
    margin: 0 auto;
}

.big-box{
    flex-basis: 70%;    
}

.little-box{
    flex-basis: 30%;
}


.order{
    flex-direction: row-reverse;
}

.cont-c, .cont-e{
    background-color: lightgray;
}

.button-c{
    background-color: rgb(78, 121, 195);
    color: white;
    border-radius: 25px;
    padding: 15px 10px; 
    text-decoration: none;
}

/* Inizio Footer */
span{
    display: inline-block;
}

.cont-f{
    background-color: rgb(10, 29, 44);
}

.division-a{
    flex-basis: 30%;
}

.division-b, .division-c, .division-d, .division-e{
    flex-basis: calc(70% / 3);
    line-height: 30px;
    margin-left: 60px;
}

#v-allign{
    vertical-align: middle;
    width: 25px;
    height: 20px;

}

ul{
    list-style-type: none
}

li{
    color: white;
}

.space h3, .space h4{
    color: rgb(78, 121, 195);
}

hr{
    width: 80%;
    margin: 20px auto;
}

.foot{
    background-color: none;
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
}

#ita{
    color: white;
    margin-left: 10px;
}

.button-d{
    background-color: rgb(78, 121, 195);
    color: white;
    border-radius: 25px;
    padding: 5px 10px; 
    text-decoration: none;
    font-size: small;
}