*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Creazione parte di Navigazione */
.container{
    background-color: #3161E0;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


.inline{
    
    display: inline-block;
    color: white;
    margin: 10px 0;
}

.nav-box{
    background-color: #3161E0;
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 10px 0;

}

a{
    text-decoration: none;
    color: white;
    margin: auto 5px;
}

button{
    color: black;
    border: none;
    border-radius: 10px;
    padding: 5px 5px;
}

/* Creazione primo contenitore */
.cont{
    /* min-height: 600px;  */
    /* display: flex;
    justify-content: center;
    align-items: center;  */
    padding: 100px 0;


}

.cont-a{
    background-image: url(./img/jumbo.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.news{
    width: 60%;
    margin: 20px 0;
    background-color: transparent;
    text-align: center;
    margin: 0 auto;
}

h1, h2, .news p{
   margin-bottom: 30px;
}

h1, h2{
    font-size: 40px;
}

/* Parte Centrale */
.cont-b{
    background-color: white;
}

.cont-c{
    background-color: antiquewhite;
}

.cont-d{
    background-color: blueviolet;
}

.info{
    width: 80%;
    height: 400px;    /* andremo a togliere quando riempiremo */
    background-color: #3161E0;
    display: flex;
    margin: 0 auto;
}

.big-box{
    flex-basis: 60%;
    background-color: white;
    
}

.little-box{
    flex-basis: 40%;
    background-color: white;
}


.order{
    flex-direction: row-reverse;
}

.cont-e{
    min-height: 1200px; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
}


/* Inizio Footer */
.cont-f{
    background-color: lightskyblue;
}

.border{
    border: 2px dashed black;
}

.division-a{
    flex-basis: 30%;
}

.division-b{
    flex-basis: 17.5%;
}

.division-c{
    flex-basis: 17.5%;
}

.division-d{
    flex-basis: 17.5%;
}

.division-e{
    flex-basis: 17.5%;
}
